# --- CONFIGURATION SCRIPT EXTRACT ---
SNCF_API_TOKEN=YOUR_TOKEN_HERE

# --- CONFIGURATION MONGO DB ---
MONGO_USER=YOUR_MONGO_USER
MONGO_PASSWORD=YOUR_MONGO_PASSWORD
MONGO_CONTAINER_NAME=mongo-datalake
MONGO_DB=sncf_datalake
MONGO_COLLECTION=disruptions

# --- CONFIGURATION AIRFLOW ---
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__CORE__DEFAULT_TIMEZONE=Europe/Paris
AIRFLOW_UID=50000
AIRFLOW_ADMIN_USERNAME=YOUR_AIRFLOW_USERNAME
AIRFLOW_ADMIN_PASSWORD=YOUR_AIRFLOW_PASSWORD
AIRFLOW_ADMIN_EMAIL=YOUR_AIRFLOW_EMAIL

# --- CONFIGURATION AIRFLOW POSTRGES ---
AIRFLOW_POSTGRES_CONTAINER_NAME=postgres-airflow
AIRFLOW_POSTGRES_USER=YOUR_AIRFLOW_POSTGRES_USER
AIRFLOW_POSTGRES_PASSWORD=YOUR_AIRFLOW_POSTGRES_PASSWORD
AIRFLOW_POSTGRES_DB=airflow

# --- CONFIGURATION POSTRGES ORGANIZED DATA ---
POSTGRES_CONTAINER_NAME=postgres-organized
POSTGRES_USER=YOUR_POSTGRES_USER
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD
POSTGRES_DB=organized_data