# Extract script configuration
SNCF_API_TOKEN=YOUR_TOKEN_HERE

AIRFLOW_IMAGE_NAME="apache/airflow:slim-latest-python3.13"
AIRFLOW_UID=0
AIRFLOW_ADMIN_USER="admin123"
AIRFLOW_ADMIN_PASSWORD="example123"
AIRFLOW_ADMIN_EMAIL="admin123@email.com"

AIRFLOW__CORE__EXECUTOR="CeleryExecutor"
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN="postgresql+psycopg2://airflow:airflow@postgres/airflow"
AIRFLOW__CORE__FERNET_KEY=""
AIRFLOW__CORE__LOAD_EXAMPLES="true"

# PostrgeSQL configuration
POSTGRES_DB=YOUR_DB_NAME
POSTGRES_USER=YOUR_DB_USER
POSTGRES_PASSWORD=YOUR_DB_PASSWORD