# --- CONFIGURATION SCRIPT EXTRACT ---
SNCF_API_TOKEN=YOUR_TOKEN_HERE

# --- CONFIGURATION MONGO DB ---
MONGO_CONTAINER_NAME=mongo-datalake
MONGO_CONTAINER_PORT=27017
MONGO_USER=YOUR_MONGO_USER
MONGO_PASSWORD=YOUR_MONGO_PASSWORD
MONGO_DB=sncf_datalake
MONGO_COLLECTION=marseille_arrivals

# --- CONFIGURATION AIRFLOW ---
AIRFLOW_INIT_CONTAINER_NAME=airflow-init
AIRFLOW_WEBSERVER_CONTAINER_NAME=airflow-webserver
AIRFLOW_WEBSERVER_CONTAINER_PORT=8082
AIRFLOW_SCHEDULER_CONTAINER_NAME=airflow-scheduler

AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__CORE__DEFAULT_TIMEZONE=Europe/Paris
AIRFLOW_UID=50000
AIRFLOW_ADMIN_USERNAME=YOUR_AIRFLOW_USERNAME
AIRFLOW_ADMIN_PASSWORD=YOUR_AIRFLOW_PASSWORD
AIRFLOW_ADMIN_EMAIL=YOUR_AIRFLOW_EMAIL

# --- CONFIGURATION AIRFLOW POSTRGES ---
AIRFLOW_POSTGRES_CONTAINER_NAME=postgres-airflow
AIRFLOW_POSTGRES_CONTAINER_PORT=5433
AIRFLOW_POSTGRES_USER=YOUR_AIRFLOW_POSTGRES_USER
AIRFLOW_POSTGRES_PASSWORD=YOUR_AIRFLOW_POSTGRES_PASSWORD
AIRFLOW_POSTGRES_DB=airflow

# --- CONFIGURATION SPARK ---
SPARK_MASTER_CONTAINER_NAME=spark-master
SPARK_MASTER_WEB_CONTAINER_PORT=8081
SPARK_MASTER_PROTOCOL_CONTAINER_PORT=7077
SPARK_WORKER_CONTAINER_NAME=spark-worker

# --- CONFIGURATION POSTRGES ORGANIZED DATA ---
POSTGRES_CONTAINER_NAME=postgres-organized
POSTGRES_CONTAINER_PORT=5432
POSTGRES_USER=YOUR_POSTGRES_USER
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD
POSTGRES_DB=organized_data

# --- CONFIGURATION PROMETHEUS ---
PROMETHEUS_CONTAINER_NAME=prometheus
PROMETHEUS_CONTAINER_PORT=9090

# --- CONFIGURATION GRAFANA ---
GRAFANA_CONTAINER_NAME=grafana
GRAFANA_CONTAINER_PORT=3000
GRAFANA_ADMIN_USER=YOUR_GRAFANA_ADMIN_USER
GRAFANA_ADMIN_PASSWORD=YOUR_GRAFANA_ADMIN_PASSWORD